body {
    margin: 0;
    padding: 0;

    background-color: var(--surface-ground);
    font-family: 'Hanken Grotesk';
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--primary-color);
}

input {
    border-color: var(--primary-color) !important;
}