.results {
    border: solid 1px var(--primary-color);
    border-radius: 4px;

    app-result {
        display: block;
        cursor: pointer;
        background-color: var(--surface-card);
        border-radius: 4px;

        &.even {
            background-color: var(--gray-900);
        }

        &:hover {
            filter: brightness(1.5);
        }
    }



}