.results {
    border: solid 1px var(--primary-color);
    border-radius: 4px;

    &__unit {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: .75rem;
        background-color: var(--surface-card);

        &.even {
            background-color: var(--gray-900);
        }

        i {
            font-weight: bold;
            color: var(--primary-color);
        }

        &__infos {
            display: flex;
            flex-direction: column;

            &__torrent {
                color: var(--gray-300);
                font-size: .85rem;

                &--seeds {
                    color: var(--green-600);
                }

                &--leeches {
                    color: var(--red-700);
                }
            }

        }

        &__tags {
            display: flex;
            gap: 5px;

            span {
                padding: 5px;
                font-weight: 800;
                border-radius: 4px;
                font-size: .8rem;

                &.VOSTFR {
                    background-color: var(--purple-800);
                }

                &.VF {
                    background-color: var(--purple-600);
                }

                &.MULTI {
                    background-color: var(--purple-400);
                }

                &.q4K {
                    background-color: var(--pink-400);
                }

                &.q1080P {
                    background-color: var(--pink-600);
                }

                &.q720P {
                    background-color: var(--pink-800);
                }

                &.BLURAY {
                    background-color: var(--red-800);
                }

                &.WEBRIP,
                &.HDTV {
                    background-color: var(--red-600);
                }

                &.DVDRIP {
                    background-color: var(--red-400);
                }

            }
        }

    }
}