.results {
    border: solid 1px var(--primary-color);
    border-radius: 4px;

    app-result {
        display: block;
        background-color: var(--surface-card);
        border-radius: 4px;

        &.even {
            background-color: var(--gray-900);
        }
    }



}