<div class="download" *ngIf="download" [class.completed--border]="download.progress === 1">

    <div class="download__infos">
        <span class="download__infos--title"
            [class.completed--text]="download.progress === 1">{{download.fileName}}</span>
        <div class="download__infos--tags">
            <span [ngClass]="download.language" [class.completed--background]="download.progress === 1"
                *ngIf="download.language">
                {{download.language}}
            </span>

            <span [ngClass]="'q'+download.quality" [class.completed--background]="download.progress === 1"
                *ngIf="download.quality">
                {{download.quality}}
            </span>
        </div>
    </div>

    <hr [class.completed--border]="download.progress === 1">

    <div class="download__infos__advanced">
        <span>Taille <span class="download__infos__advanced--size"
                [class.completed--text]="download.progress === 1">{{download.totalSize}}</span></span>
        <span *ngIf="download.progress < 1">Vitesse <span
                class="download__infos__advanced--speed">{{download.downloadSpeed}}/s</span></span>
        <span *ngIf="download.progress < 1">Temps restant <span
                class="download__infos__advanced--speed">{{download.remainingTime}}</span></span>
    </div>
    <p-progressBar [class.completed--background]="download.progress === 1"
        [value]="download.progress * 100 | number: '1.0-0'"></p-progressBar>

    <i *ngIf="download.progress < 1" class="pi pi-times"></i>

</div>