p-progressBar {
    width: 100%;

    .p-progressbar {
        border-radius: 4px;
        height: 20px;
        width: 100%;

        .p-progressbar-label {
            display: inline-flex !important;
            font-family: 'Hanken Grotesk';
            color: var(--text-color);
        }
    }
}

hr {
    width: 100%;
    border-color: var(--primary-color);
    margin: 0;
}

.completed--border {
    border-color: var(--yellow-300) !important;
    transition: border-color .25s;
}

.completed--text {
    color: var(--yellow-300) !important;
    transition: color .25s;
}

.completed--background {
    background-color: var(--yellow-300) !important;
    color: black;
    transition: background-color .25s, text-color .25s;

    .p-progressbar-value {
        background-color: var(--yellow-300) !important;
        transition: background-color .25s;
    }
}

.download {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    padding: .75rem;
    border-radius: 4px;
    gap: 10px;
    border: solid 1px var(--primary-color);
    background-color: var(--surface-card);

    i {
        position: absolute;
        right: .75rem;
        font-size: 1.5rem;
        color: var(--primary-color);
        font-weight: 600;
        cursor: pointer;
        transition: filter .1s;

        &:hover {
            filter: brightness(1.5);
        }
    }

    &__infos {
        display: flex;
        width: 100%;
        gap: 5px;
        flex-direction: column;
        word-wrap: break-word;
        white-space: pre-wrap;
        word-break: break-word;

        &--title {
            width: 90%;
        }

        &--tags {
            display: flex;
            gap: 5px;

            &--download {
                padding: 5px;
                font-weight: 800;
                border-radius: 4px;
                font-size: .8rem;
                background-color: var(--primary-800);
                margin-left: auto;
            }

            span {
                padding: 5px;
                font-weight: 800;
                border-radius: 4px;
                font-size: .8rem;
                text-align: center;

                &.VOSTFR {
                    background-color: var(--purple-800);
                }

                &.VF {
                    background-color: var(--purple-600);
                }

                &.MULTI {
                    background-color: var(--purple-400);
                }

                &.q4K {
                    background-color: var(--pink-400);
                }

                &.q2160P {
                    background-color: var(--pink-500);
                }

                &.q1080P {
                    background-color: var(--pink-600);
                }

                &.q720P {
                    background-color: var(--pink-800);
                }

                &.BLURAY {
                    background-color: var(--red-800);
                }

                &.WEBRIP,
                &.HDTV {
                    background-color: var(--red-600);
                }

                &.DVDRIP {
                    background-color: var(--red-400);
                }

            }
        }

        &__advanced {
            display: flex;
            flex-direction: column;
            color: var(--gray-300);

            &--size {
                color: var(--primary-color);
            }

            &--speed {
                color: var(--primary-color);
            }
        }


    }
}