.search {
    display: flex;
    gap: 1rem;

    &__input {
        position: relative;
        flex-grow: 1;

        .p-inputtext {
            width: 100%;
            border-color: var(--primary-color);

            &:hover {
                border-color: var(--primary-color);
            }

            &:focus {
                border-color: var(--primary-color) !important;
            }
        }

        .custom-loader {
            position: absolute;
            top: 10px;
            right: 10px;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background:
                radial-gradient(farthest-side, var(--primary-color) 94%, #0000) top/4px 4px no-repeat,
                conic-gradient(#0000 30%, var(--primary-color));
            mask: radial-gradient(farthest-side, #0000 calc(100% - 4px), #000 0);
            animation: s3 1s infinite linear;
        }
    }

    button {
        font-size: 1.125rem;
    }

}



@keyframes s3 {
    100% {
        transform: rotate(1turn)
    }
}