.p-inputtext {
    width: 100%;
    border-color: var(--primary-color);

    &:hover {
        border-color: var(--primary-color);
    }

    &:focus {
        border-color: var(--primary-color) !important;
    }
}