.result {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .75rem;
    gap: 5px;

    i {
        font-weight: bold;
        color: var(--primary-color);
    }

    &__infos {
        display: flex;
        gap: 5px;
        flex-direction: column;
        word-wrap: break-word;
        white-space: pre-wrap;
        word-break: break-word;

        &__torrent {
            color: var(--gray-300);
            font-size: .75rem;

            &--speed {

                &.slow {
                    color: var(--red-700);
                }

                &.average {
                    color: var(--orange-700);
                }

                &.fast {
                    color: var(--green-600);
                }

                &.very-fast {
                    color: var(--green-400);
                }
            }
        }

    }

    &__tags {
        display: flex;
        gap: 5px;

        span {
            padding: 5px;
            font-weight: 800;
            border-radius: 4px;
            font-size: .8rem;
            text-align: center;

            &.VOSTFR {
                background-color: var(--purple-800);
            }

            &.VF {
                background-color: var(--purple-600);
            }

            &.MULTI {
                background-color: var(--purple-400);
            }

            &.q4K {
                background-color: var(--pink-400);
            }

            &.q2160P {
                background-color: var(--pink-500);
            }

            &.q1080P {
                background-color: var(--pink-600);
            }

            &.q720P {
                background-color: var(--pink-800);
            }

            &.BLURAY {
                background-color: var(--red-800);
            }

            &.WEBRIP,
            &.HDTV {
                background-color: var(--red-600);
            }

            &.DVDRIP {
                background-color: var(--red-400);
            }

        }
    }
}

@media screen and (max-width: 600px) {
    .result__tags {
        flex-direction: column;
    }
}